@model onlineFoodOrdering.Models.mambership
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                @if (Model == null)
                {   <li>@Html.ActionLink("Register", "Register", "Home")</li>
                <li>@Html.ActionLink("Login", "Login", "Home")</li>}
                else
                {
                    <li>@Html.ActionLink(Model.username, "Index", "Home")</li>
                }
           <!--     <li style="position: relative;  display: block;  padding: 15px 15px">nothing</li>-->
            </ul>
        </div>
    </div>
</div>
</body>
</html>
